@model mvcwebsitesi.Models.CiceklerUrun

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<br /> <br />
<div class="container pb-5">
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Kategori.KategoriAlani)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Kategori.KategoriAlani)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UrunAd)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UrunAd)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Aciklama)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Aciklama)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Fiyat)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fiyat)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Resim)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Resim)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OnayliMi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OnayliMi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ÖncelikliMi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ÖncelikliMi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AnaSayfaMi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AnaSayfaMi)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink(" Geri Dön", "Index", "CiceklerUrun", null, new { @class = " btn btn-danger btn-sm fa fa-reply-all" })
    </p>
</div>